apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "resume.fullname" . }}-system-prompt
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "resume.labels" . | nindent 4 }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Mi
  storageClassName: {{ .Values.systemPrompt.storageClassName | default "longhorn" }}
